@font-face {
    font-family: "Swarm";
    src: url("../assets/Swarm.woff") format('woff');
}

body {
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
}

#board {
	margin: 0 auto;
	width: 1216px;
	height: 604px;
	border: 5px solid #311198;
}

#player-1 {
	float: left;
	display: inline-block;
	background-color: #B10064;
	width: 50%;
	height: 100%;
}

#player-2 {
	display: inline-block;
	background-color: #DDDD00;
	width: 50%;
	height: 100%;
}

#mute-button {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 50px;
	height: 50px;
}

.art {
	position: relative;
	font-family: Swarm;
	font-size: 192px;
	height: 192px;
	text-align: center;
}

.art.p1 {
	color: #DDDD00;
}

.art.p2 {
	color: #B10064;
}

.info-text {
	font-family: Swarm;
	font-size: 96px;
	text-align: center;
	margin-top: 18px;
}

.mg-timer {
	position: relative;
	bottom: -18px;
	height: 18px;
	width: 608px;
	background-color: #DDDD00;
}

.mg-timer.p2 {
	float: right;
	background-color: #B10064;
}

.info-text.p1 {;
	margin-top: -69px;
	color: #DDDD00;
}

.info-text.p2 {
	color: #B10064;
}

.controls {
	text-align: center;
}

.control {
	padding: 4px;
	margin: 0 auto;
	display: inline-block;
}

.control-up {
	display: block;
}

.control-pressed {
	padding: 0px;
	border: 4px solid white;
}

.score {
	float: left;
	text-align: center;
	margin: 0px;
	max-height: 82px;
	font-family: Swarm;
	font-size: 96px;
	max-width: 300px;
	color: white;
	background-color: #311198;
}

.selector-p1 {
	font-family: Swarm;
	position: relative;
	margin-top: 68px;
	color: #DDDD00;
	font-size: 96px;
}

.selector-p2 {
	font-family: Swarm;
	position: relative;
	margin-top: 68px;
	color: #B10064;
	font-size: 96px;
}

.score.p2 {
	float: right;
	padding-left: 3px;
}

#timer {
	position: relative;
	max-width: 102px;
	padding: 0px 4px;
	margin: 0 auto;
	font-family: Swarm;
	font-size: 96px;
	left: 302px;
	color: white;
	background-color: #311198;
}