@font-face {
    font-family: "Swarm";
    src: url("../assets/Swarm.woff") format('woff');
}

body {
	background-color: black;
}

#board {
	z-index: -1;
	position: absolute;
	top: 0;
	width: 90%;
	height: 98%;
	border: 5px solid #311198;
	margin-left: 5%;
	margin-right: 5%;
}

#player-1 {
	float: left;
	display: inline-block;
	background-color: #B10064;
	width: 50%;
	height: 100%;
}

#player-2 {
	display: inline-block;
	background-color: #DDDD00;
	width: 50%;
	height: 100%;
}

.info-text {
	font-family: Swarm;
	font-size: 96px;
	text-align: center;
	margin-top: 140px;
}

.info-text.p1 {
	color: #DDDD00;
}

.info-text.p2 {
	color: #B10064;
}

.controls {
	text-align: center;
}

.control {
	padding: 4px;
	margin: 0 auto;
	display: inline-block;
}

.control-up {
	display: block;
}

.control-pressed {
	padding: 0px;
	border: 4px solid white;
}

.score {
	z-index: 1;
	float: left;
	text-align: center;
	margin: 0px;
	max-height: 87px;
	font-family: Swarm;
	font-size: 96px;
	max-width: 58px;
	color: white;
	background-color: #311198;
}

.score.p2 {
	float: right;
	padding-left: 3px;
}

#timer {
	z-index: 1;
	max-width: 102px;
	padding: 0px 4px;
	margin: 0 auto;
	font-family: Swarm;
	font-size: 96px;
	color: white;
	background-color: #311198;
}